<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="qlcv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
    </configSections>
    <userSettings>
        <qlcv.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="GhiNho" serializeAs="String">
                <value>False</value>
            </setting>
        </qlcv.Properties.Settings>
    </userSettings>
  <!--GhiLog-->
  <!--hi-->
  <log4net >
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" /> <!--ghi thành tin file-->
      <appendToFile value="true"/> <!---->&gt;
      <rollingStyle value="Size"/> <!---->&gt;
      <maximumFileSize value="20MB"/> <!--Max dung lượng file-->&gt;
      <maximumRollBackups value="10"/> <!--Số ký tự được thay thế khi đầy và trước khi thay thế-->&gt;
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{0} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>